.container {
  position: relative;
  width: 100%;
}

.input_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background-color: #fff;
  color: #373740;
  overflow: hidden;
}

.input_wrapper:focus-within {
  border: 1px solid #6d5afe;
}

.input_wrapper[data-iserror="true"] {
  border: 1px solid #ff5b56 !important;
}

.input {
  padding: 18px 15px;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input:placeholder {
  color: #9fa6b2;
  font-size: 12px;
}

.input:focus {
  outline: none;
}

.error_message {
  position: absolute;
  top: calc(100% + 6px);
  color: #ff5b56;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.password_visible_button {
  margin-right: 16px;
  border: none;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  cursor: pointer;
}

.password_visible_icon {
  width: 16px;
  height: 16px;
}

